@{
    Layout = "~/Views/Shared/Administrador.cshtml";
}
@model Models.Dtos.PartidoRequest

<div class="row">
    @Html.HiddenFor(x=>Model.Id,new{})
    <div class="col-md-3 mb-3">
        <img style="width:200px;" src="data:image/png;base64, @(Model.LogoBase64)" alt="">
    </div>
    <div class="col-md-6 mb-3">
        @Html.LabelFor(x=>Model.Nombre, new {})
        @Html.TextBoxFor(x=>Model.Nombre, new {@class="form-control", @readonly=""})
    </div>
    <div class="col-md-12 mb-3">
        @Html.LabelFor(x=>Model.Descripcion, new{})
        @Html.TextAreaFor(x=>Model.Descripcion, new{@class="form-control", @readonly=""})
    </div>
    
    @*<div class="col-md-12- mb-3">
        <div class="custom-control custom-switch">
            Estado:
            <label for="">
                <b>
                    @{
                        var text = Model.estado?"Activo":"Inactivo";
                    }
                    @text
                </b>
            </label>
        </div>
    </div>*@
    <div class="col-md-12">
        <a href="/Partidos/index" class="btn btn-danger">Volver</a>
    </div>
</div>
