
@model Tarea1.Models.p1Request;
<h1>ejercicio #1</h1>
<p>
    1- Realizar una aplicación web utilizando .net core mvc, que solicite a través de un formulario al usuario 
    su día y mes de nacimiento y que según esa información determine su signo zodiacal.
</p>
@using(Html.BeginForm("p1","Home",FormMethod.Post,new{@id="p1Form",@onsubmit="SubmitForm(event, this);"})){
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(x=>Model.fechaNacimiento,new{})
        @Html.TextBoxFor(x=>Model.fechaNacimiento,new{@class="form-control", @type="date",@required=""})
        @Html.ValidationMessageFor(x => Model.fechaNacimiento, "*", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        @{
            var text = Model!=null?Model.resultado:string.Empty;
        }
        @Html.LabelFor(x=>Model.resultado,new{})
        <label class="form-control">@text</label>
    </div>
    <button type="submit" class="btn btn-success">Calcular</button>
}

