

@model Tareas.Models.PokemonREquest


@using(Html.BeginForm("Save", "Tarea4", FormMethod.Post, new { @class="form-row"}))
{
    <div class="col-12">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new {})
    </div>
    <div class="col-12">
        @Html.LabelFor(x=>Model.Nombre,new{})
        @Html.TextBoxFor(x=>Model.Nombre,new{@class="form-control"})
        @Html.ValidationMessageFor(x=>Model.Nombre, "" ,new{})
    </div>
    <div class="col-12">
        @Html.LabelFor(x=>Model.RegionId,new{})
        @Html.DropDownListFor(x=>Model.RegionId, ViewBag.Regiones as SelectList,new{@class="form-control"})
        @Html.ValidationMessageFor(x=>Model.RegionId, "" ,new{})
    </div>
    <div class="col-12">
        @Html.LabelFor(x=>Model.TiposId,new{})
        @Html.DropDownListFor(x=>Model.TiposId, ViewBag.Tipos as SelectList,new{@class="form-control"})
        @Html.ValidationMessageFor(x=>Model.TiposId, "" ,new{})
    </div>
    <div class="col-12">
        @Html.LabelFor(x=>Model.AtaquesId,new{})
        @Html.DropDownListFor(x=>Model.AtaquesId, ViewBag.Ataques as SelectList,new{@class="form-control"})
        @Html.ValidationMessageFor(x=>Model.AtaquesId, "" ,new{})
    </div>
}

